<div class="main">
		<h2>About Me:</h2>
			<br><br>
		<h2>full stack web developer</h2>
			<br><br>
		<h2>returned Peace Corps volunteer</h2>
			<br><br>
		<h2>ice skating enthusiast</h2>
			<br><br>
		<h2>language lover</h2>
			<br><br>
		<h2>world traveler</h2>
			<br><br>
	</div>