
	<div id="contact">
		<h1>Contact Me:</h1>
			<br>
			<h2>liana.schapiro@gmail.com</h2>
			<br>
			<h2>413.588.1425</h2>
			<br>
			<ul>
				<li>
					<a href="https://facebook.com/liana.schapiro" target="_blank">
						<img src="images/facebook.png" height="75px">
					</a>
				</li>
				<li>
					<a href="https://github.com/lianaschapiro" target="_blank">
						<img src="images/github.png" height="75px">
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/liana-schapiro-a02a0881" target="_blank">
						<img src="images/linkedin.png" height="75px">
					</a>
				</li>
			</ul>
	</div>
