<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Liana Schapiro</title>
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="contact">CONTACT</a></li>
			<li><a href="travels">TRAVELS</a></li>
			<li><a href="portfolio">PORTFOLIO</a></li>
			<li><a href="about">ABOUT</a></li>
			<li><a href="/">HOME</a></li>
		</ul>
	</nav>

	<%= yield %>

</body>
</html>