<div id="portfolio">
		<h2>Check out some of my recent work:</h2>
		<a href="http://www.corvusentertainment.com" target="_blank"><img src="images/logo black.jpg"></a>
		<a href="http://www.brooklynpetlounge.com" target="_blank"><img src="images/bpl.png"></a>
	</div>