<div id="travel">
		<h2>I have lived in and traveled to over thirty countries. Here are some of my favorite places:</h2>
			<br>
		<div class="travelpic">
			<img src="images/peru.jpg">
			<p>Cordillera Blanca, Peru</p>
		</div>
		<div class="travelpic">
			<img src="images/taprohm.jpg">
			<p>Ta Prohm, Cambodia</p>
		</div>
		<div class="travelpic">
			<img src="images/angkor.jpg">
			<p>Angkor Wat, Cambodia</p>
		</div>
		<div class="travelpic">
			<img src="images/beach.jpg">
			<p>St. John, USVI</p>
		</div>
		<div class="travelpic">
			<img src="images/quito.jpg">
			<p>Quito, Ecuador</p>
		</div>
		<div class="travelpic">
			<img src="images/rome.jpg">
			<p>Rome, Italy</p>
		</div>
		<div class="travelpic">
			<img src="images/murchison.jpg">
			<p>Murchison Falls, Uganda</p>
		</div>
		<div class="travelpic">
			<img src="images/kampala.jpg">
			<p>Kampala, Uganda</p>
		</div>
		<div class="travelpic">
			<img src="images/coron.jpg">
			<p>Coron, Philippines</p>
	</div>